body {
	position: relative;
	padding-top: 50px; 
}

.section-wrap {
	color: black; 
	width:80%;
	margin-bottom: 10px;
	background-color:#eee;
}

h1 {
	padding-left:20px;
}

.links{
	list-style: none;
	font-weight: bold;
	color:  black;
	padding: 10px 20px 10px;
	margin: 0;
}

.links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}


.intro-wrap {
	float:left;
	height:auto;
	padding:10px 20px 10px;

}

.section-title {
	background-color:#ccc; 
	padding:10px;
	margin-bottom: 30px;
}

.project-item {
	background-color: white;
	padding-left:10px;
	padding-bottom:10px;
	margin-bottom:10px;
	box-shadow: 5px 5px 2px 1px rgba(0, 0, 255,.1);
}

.project-name {
	padding-top:10px;
	font-size:24px;
	margin-bottom:30px;
}

.project-desc {
	background-color:white;
	margin:5px;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.333%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.progress-wrap {
	width:95%;
	height:20px;
	margin:10px;
}

.progress-label {
	width:20%;
	height:100%;
	float:left;
	color:black;
	text-align: right;
	padding-right:10px;
}

.progress-label-cat {
	font-weight:bold;
}

.progress-chart {
	width:80%;
	height:100%;
	display:inline-block;
}

.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 10px;
	margin-top: 30px;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}